do_token     = "your-digitalocean-api-token"
ssh_key_name = "your-ssh-key-name"
repo_url     = "https://github.com/connordavenport/dev-lab.git"
# droplet_region = "nyc1"
# droplet_size   = "s-1vcpu-1gb"
# username       = "connor"
